<div class="d-flex">
  <div class="p-2">
    <!-- TODO - add routerLinkActive & routerLink -->
    <a class="btn"> View Claims </a>
    <!-- TODO - add routerLinkActive & routerLink -->
    <a class="btn"> Approve/Deny Claims </a>
    <!-- TODO - add routerLinkActive & routerLink -->
    <a class="btn">Change Roles</a>
  </div>
  <div class="ms-auto p-2">
    <a class="btn" routerLinkActive="active" routerLink="/login">Login</a>
    <a class="btn" routerLinkActive="active" routerLink="/register">Register</a>
    <!-- TODO - add routerLinkActive & routerLink -->
    <a class="btn">User Profile</a>
    <!-- TODO - make this a function instead of a route -->
    <a class="btn">Logout</a>
    <!-- TODO - add toggle to change light/dark mode -->
  </div>
</div>
