<nav class="navbar" id="navbar">
  <div class="container-fluid">
    <div class="p-2">
      <a class="btn" routerLinkActive="active" 
      routerLink="/viewclaims"
      *ngIf="loggedIn"> 
      View Claims 
      </a>
      <a
        class="btn"
        routerLinkActive="active"
        routerLink="/processclaim"
        *ngIf="Agent"
        >Process Claim</a>
      
      <a
        class="btn"
        routerLinkActive="active"
        routerLink="/fileclaim"
        *ngIf="loggedIn"
        >File Claim</a>

    </div>
    <div class="ms-auto p-2">
      <a
        class="btn"
        style="color:blue"
        *ngIf="logoutResult"
        >{{ logoutResult }}</a>
      <a
        class="btn"
        routerLinkActive="active"
        routerLink="/login"
        *ngIf="!loggedIn"
        >Login</a>
      <a
        class="btn"
        routerLinkActive="active"
        routerLink="/register"
        *ngIf="!loggedIn"
        >Register</a>
      <a class="btn" routerLinkActive="active" routerLink="/userprofile" *ngIf="loggedIn">User Profile</a>
      <a class="btn" *ngIf="loggedIn" (click)="logout()">Logout</a>
      <a class="btn" (click)="darkModeToggle()">{{darkModeService.isDarkMode|darkModeToggle}}</a>
    </div>
  </div>
</nav>





