<body>
  <div id="divMain6">
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="tab-claim"
            data-mdb-toggle="pill"
            href="#pills-claim"
            role="tab"
            aria-controls="pills-claim"
            routerLink="/viewclaim"
            routerLinkActive="active"
            >Claim List</a
          >
        </li>
    </ul>
    <div class="grid-container">
      <div *ngFor="let item of claims">
        <h4 style="color:dodgerblue">Claim #{{item.claim_id}}</h4>
        <p style="color:dodgerblue">Status: {{item.status}}</p>
        <p style="color:dodgerblue">Description: {{item.description}}</p>
        <p style="color:dodgerblue">Amount: {{item.amount}}</p>
      </div>  
    </div>
    
  </div>
    
</body>